body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding : 0;
}

.container{
    min-width: 450px;
    background-color: #F6F5F5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 40px;
    column-gap: 50px;
    row-gap: 50px;
    padding : 20px;
}

.card{
    background-color: #ffffff;
    width : 371px;
    height : 325px;
    padding : 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.com-info,.ipo-pricing,.ipo-sizing{
    display : flex;
}

.com-info{
    align-items: center;
    height : 80px;
    column-gap : 40px;
}

.com-logo{
    width : 80px;
}

.com-name{
    font-size: 18px;
    font-weight: 600;
    color: #414BEA;
    text-decoration: none;
}

.ipo-pricing , .ipo-sizing{
    display: flex;
    justify-content: space-between;
}

.col-gray{
    color : #5A5858
}

.bold-600{
    font-size: 18px;
    font-weight: 600;
}

.btn{
    padding : 7px 18px;
    border-radius: 5px;
    border : 1px solid #414BEA;
    background-color: #ffffff;
    text-decoration: none;
}

.btn--red{
    background-color: #F05537;
    color : #ffffff;
    border : 1px solid #F05537;
}

.rhp-dhrp{
    display: flex;
    column-gap: 10px;
}

